.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "aside header footer main";

    justify-items:space-between;
    align-items:center;
    gap: 20px;

    background-color: blueviolet;
    padding: 8px;
    height: 200px;
}

.item{
    background-color: rgb(65, 116, 158);
    border: 2px solid black;
    width: 50px;
    height: 150px;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

main{
    grid-area: main;
}